* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
}

window#waybar {
    background: rgba(30, 30, 46, 0);
}
/*-----module groups----*/

.modules-right {
    margin: 7px 13px 0 0;
    border-radius: 20px;
}
.modules-center {
    margin: 7px 0 0 0;
    border-radius: 20px;
}
.modules-left {
    margin: 7px 0 0 13px;
    border-radius: 20px;
}


#workspaces {
    background: #161328;
    margin: 5px 1px 0px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    opacity: 1.0;
    font-size: 16px;
}

#workspaces button {
    background:  #38375B;
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    transition: all 0.3s ease-in-out;
    opacity: 1.0;
    color: #f1dfda;
}

#workspaces button.active {
    background:  #38375B;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
    color: #f1dfda;

}

#workspaces button:hover {
    background:  #38375B;
    border-radius: 15px;
    opacity:0.7;
    color: #1a110f;

}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#custom-spotify
#idle_inhibitor {
    padding: 0 10px;
}
#mode {
    color: #cc3436;
    font-weight: bold;
}

#taskbar button {
    margin: 0 2px;
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    animation: tb_normal 20s ease-in-out 1;
}

#clock {
    background-color: #161328;
    color: #f1dfda;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 1px 10px 0px 10px;
    margin: 5px 0px 0px 0px;
}

#power-profiles-daemon {
    background-color: #161328;
    color: #f1dfda;
    border-radius: 15px;
    padding: 1px 10px 0px 10px;
    margin: 5px 1px 0px 1px;
    margin-right: 10px;
}

#network {
    background-color: #161328;
    color: #f1dfda;
    padding: 1px 10px 0px 10px;
    margin: 5px 0px 0px 0px;
}

#battery {
    background-color: #161328;
    color: #f1dfda;
    padding: 1px 10px 0px 10px;
    margin: 5px 0px 0px 0px;
}

#bluetooth {
    background-color: #161328;
    color: #f1dfda;
    padding: 1px 10px 0px 10px;
    margin: 5px 0px 0px 0px;
}

#pulseaudio {
    background-color: #161328;
    color: #f1dfda;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 1px 10px 0px 10px;
    margin: 5px 0px 0px 0px;
}

#custom-spotify {
    background-color: #161328;
    color: #f1dfda;
    border-radius: 15px;
    padding: 1px 10px 0px 10px;
    margin: 5px 0px 0px 0px;
    margin-right: 10px;
}