/* Define color variables */
* {
    bg:           #00000000;
    fg:           #ffffff;
    selbg:        #ffffff20;
    selfg:        #ffffff;
    lightbg:      #11111111;
    dark1:        #00000033;
    dark2:        #00000040;
    font:           "Firacode Nerd Font regular 12";
}

/* Window */
window {
    transparency:        "real";
    background-color:    @bg;
    text-color:          @fg;
    border:              0.1em;
    border-color:        @dark1;
    border-radius:       0.5em;
    radius:              0.5em;
    width:               800px;
    height:              570px;
    location:            center;
    x-offset:            0px;
    y-offset:            0px;
}

/* Input Bar */
inputbar {
    background-color:    @dark2;
    text-color:          @fg;
    padding:             0.8em 0.3em;
    margin:              0.8em;
    border:              0.03em;
    border-color:        @dark1;
    border-radius:       0.3em;
    children:            [ prompt, entry ];
    horizontal-align:    0;
}

/* Prompt */
prompt {
    background-color:    @bg;
    text-color:          @fg;
    padding:             0 0.5em 0 0;
}

/* Entry */
entry {
    background-color:    @bg;
    text-color:          @fg;
    placeholder-color:   @fg;
    placeholder:         "Search...";
    padding:             0.1em 0.3em;
    horizontal-align:    0;
}

/* Listview */
listview {
    background-color:    @bg;
    columns:             1;
    lines:               6;
    spacing:             0em;
    margin:              0.5em;
    layout:              vertical;
}

/* Elements */
element {
    background-color:    @bg;
    text-color:          @fg;
    border-radius:       0.3em;
    padding:             0.2em 0.3em;
    margin:              0.2em;
    border:              0;
    border-color:        @bg;
}

element normal.normal {
    background-color:    @bg;
    text-color:          @fg;
    border:              0px;
}

element selected.normal {
    background-color:    @selbg;
    text-color:          @selfg;
    border:              0px;
}

/* Icons */
element-icon {
    background-color:    @bg;
    text-color:          @selfg;
    size:                34px;
}

/* Selected Element */
element selected {
    background-color:    @bg;
    text-color:          @selfg;
    border-color:        @dark1;
}

/* Text */
element-text {
    background-color:    @bg;
    text-color:          @selfg;
    expand:              true;
    horizontal-align:    0;
    vertical-align:      0.5;
    padding-left:        0em;
    padding: 0 10px;
}

/* Main Box */
mainbox {
    children:            [ inputbar, listview ];
    spacing:             0em;
    background-color:    @bg;
    margin:              0 0 0.4em 0;
}
